python-dateutil
pytz
feedparser
httpx
markdown2
html2text
newspaper3k
python-dotenv
fastapi[standard]
starlette
fastapi-cache2[redis]
asyncpg
apscheduler
uvicorn
lxml[html_clean]
jinja2
python-multipart
python-telegram-bot
openai
nest_asyncio
markdown-it-py
rapidfuzz
redis
