# Database Configuration
DB_HOST=newsy_db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1122
DB_NAME=newsy

# Python Backend
PYTHON_BACKEND_URL=http://newsy-backend:8765

# Worker Pool Configuration
WORKER_POOL_SIZE=16

# Scheduler Configuration
POLLING_FREQUENCY=5m
BATCH_SIZE=100
POLLING_ERROR_LIMIT=10
POLLING_LIMIT_PER_HOST=5
CLEANUP_FREQUENCY=24h

# Server Configuration
SERVER_PORT=8667
LOG_LEVEL=info
